/* Google Font links Here */
@font-face{
	src:url(font/Oswald-Regular.ttf);
	font-family:Oswald-Regular;
}
@font-face{
	src:url(font/Poppins-Regular.ttf);
	font-family:Poppins-Regular;
}

/* 
==================================
outdoor coding here
==================================
 */
img{
	max-width:100%;
	display:block;
}
.menu-res{
	display:none;
}
 
 
 
/* 
==================================
topbar-Section Start Form Here
==================================
 */
.topbar{
	background:#0D1128;
	padding:15px 0px;
}
.top-item p i{
	font-size:14px;
	color:#fff;
}
.top-item p span{
	font-size:14px;
	color:#fff;
	font-family: "Poppins",sans-serif;
	padding-left:5px;
}
.floow-section{
	display:flex;
	list-style:none;
	float:right;
}
.floow-section li{
	padding:2px 10px;
}
.floow-section li a i{
	font-size:16px;
	color:#fff;
}
/* 
==================================
Header-Section Start Form Here
==================================
 */
.header{
	background:#fff;
	padding:20px 40px;
}
.logo img{
	max-width:100%;
	display:block;
}
.menu{
	float:right;
	padding:20px 0px;
}
.menu ul{
	list-style:none;
}
.menu ul li{
	padding:5px 20px;
}
.menu ul li a{
	text-decoration:none; 
	display:block;
	font-size:15px;
	font-family:Poppins-Regular;
	text-transform:capitalize;
	color:#232323;
	font-weight:600;
}
.menu ul li a:hover{
	color:#e14521;
}
	
.menu ul li a.active{
	text-decoration:none; 
	display:block;
	font-size:15px;
	font-family:Poppins-Regular;
	text-transform:capitalize;
	color:#e14521;
	font-weight:600;
}
.menu ul li:last-child a {
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-family: Poppins-Regular;
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
    background: #994f4f;
    padding: 10px 21px;
    border-radius: 20px 0px 20px 0px;
}

/* 
==================================
Slider Section Start Form Here
==================================
 */
.slider-section{
	 padding:0px;
	 position:relative;
 }
.slider-1 img{
	 max-width:100%;
	 display:block;
 }
.slider-1{
	position:relative;
}
.slider-1:after{
	content:'';
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background:rgba(0,0,0,.7);
}
.slider-content{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index:10;
}
.slider-content h1{
	font-family: 'Righteous', cursive;
	text-transform:capitalize;
	font-size:37px;
	text-shadow:2px 2px 2px #000;
	color:#fff;
	animation:fadeInRightBig;
	animation-duration:0.5s;
	animation-delay:0.9s;
}
.slider-content p{
	font-family:Poppins-Regular;
	font-size:17px;
	text-shadow:2px 2px 2px #000;
	color:#fff;
	animation:fadeInLeftBig;
	animation-duration:0.5s;
	animation-delay:0.9s;
	text-transform:capitalize;
}
.slider-content .btn-success {
    color: #fff;
    background:#d71a1a;
    border: none;
    margin: 30px auto;
    padding: 14px 20px;
	text-transform:capitalize;
    font-weight: 600;
    font-size: 15px;
	animation:fadeInDownBig;
	animation-duration:0.9s;
	animation-delay:0.9s;
	font-family: Poppins-Regular;
	border-radius:20px 0px 20px 0px;
}

/*
====================
bullet-section
====================
*/

.bullet-section .bullet{
	display:flex;
	position:absolute;
	z-index:9;
	list-style:none;
	left:0px;
	right:0px;
	bottom:25px;
}
.carousel-indicators li{
	border:none;
}

.bullet-section .bullet li.active{
	height:8px;
	width:30px;
	background:#fff;
	margin-right:5px;
	border-radius:50px;
}
.bullet-section .bullet li{
	height:8px;
	width:30px;
	background:#31e613;
	margin-right:5px;
	border-radius:50px;
}





/*
====================
arrow-area here
====================
*/
.arrow-area .arrow-left a i, .arrow-right a i{
	font-size:60px;
	color:#fff;
	z-index:6;
}
.arrow-area .arrow-left{
	position:absolute;
	top:50%;
	left:35px;
	transform:translateY(-50%);
}
.arrow-area .arrow-right{
	position:absolute;
	top:50%;
	right:35px;
	transform:translateY(-50%);
}

/*
======================================
Services Section Start Form Here
======================================
*/
.service-section{
	padding:0px;
}
.service-box1{
	background:#FD5F00;
	padding:20px 20px;
	text-align:center;
}
.service-box2{
	background:#0D1128;
	padding:20px 20px;
	text-align:center;
}
.service-box1 i{
	font-size:45px;
	color:#fff;
}

.service-box1 h1{
	font-family:Oswald-Regular;
	font-size:21px;
	color:#fff;
	text-transform:capitalize;
}
.service-box1 p{
	font-family:Poppins-Regular;
	font-size:16px;
	color:#bfc6b7;
}
.service-box2 i{
	font-size:45px;
	color:#fff;
}

.service-box2 h1{
	font-family:Oswald-Regular;
	font-size:21px;
	color:#fff;
	text-transform:capitalize;
}
.service-box2 p{
	font-family:Poppins-Regular;
	font-size:16px;
	color:#bfc6b7;
}


/*
=============================
Our Campus Start Form Here
=============================
*/
.campus-section{
	padding:100px 0px;
}
.campus-content{
	margin-bottom:100px;
}

.campus-content h1{
	font-family: 'Righteous', cursive;
	font-size:32px;
	color:#444;
	text-transform:capitalize;
	font-weight:600;
}
.campus-content p{
	font-family:Poppins-Regular;
	font-size:16px;
	color:#3e403c;
}
.campus-right h1{
	font-family: 'Righteous', cursive;
	font-size:25px;
	color:#444;
	text-transform:capitalize;
	font-weight:400;
}
.campus-right p{
	font-family:Poppins-Regular;
	font-size:16px;
	color:#000;
}
.campus-item{
	padding:20px 0px;
}

.campus-item ul{
	list-style:none;
}
.campus-item ul li{
	padding:3px 0px;
	font-family:Poppins-Regular;
	font-size:15px;
	color:#888;
	text-transform:capitalize;
}
.campus-item ul li i{
	height: 30px;
	width: 30px;
	background: #51ac56;
	color: #fbf7f7;
	border-radius: 50%;
	padding: 7px 6px;
	font-size: 18px;
	margin-right: 10px;
}

.campus-btn .btn-success {
	font-family:"Poppins",sans-serif;
    color: #fff;
    background:#cc7434;
    border: none;
    margin:5px 0px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    animation: fadeInDownBig;
    animation-duration: 0.9s;
    animation-delay: 0.9s;
	border-radius: 20px 0px 20px 0px;
}
.campus-right{
	max-width:100%;
}

	
/*
===============================
Counter Section Start Form Here
===============================
*/
.counter-section{
	background-image:url(images/counter.jpg);
	background-size:cover;
	background-position:center;
	background-repeat:none;
	background-attachment:fixed;
	height:300px;
	padding:0px;
	overflow:hidden;
}
.counter-jhapsha{
	background:rgba(0,0,0,.8);
	height:100%;
	width:100%;
	overflow:hidden;
}
	
.counter-area{
	padding:100px 0px;
}
.counter-item{
	padding:20px 0px;
}

.counter-item i{
	font-size:45px;
	color:#eab412;
}
.counter-item h1{
	font-family: 'Righteous', cursive;
	font-size:25px;
	color:#fff;
	text-transform:uppercase;
	font-weight:600;
}
.counter-item p{
	font-family:Poppins-Regular;
	font-size:16px;
	color:#d2c5d0;
	text-transform:capitalize;
}


/*
=================================
Department-Section Start Form Here
=================================
*/
.department-section{
	padding:100px 0px;
}
.department-content{
	position:relative;
	padding-bottom:100px;
}
.department-content:after{
	content:'';
	position:absolute;
	background:red;
	width:100px;
	height:5px;
	left:-10px;
	right:-10px;
	margin:auto;
	border-radius:5px;
}
.department-content h1{
	font-family: 'Righteous', cursive;
    font-size:31px;
    color: #444;
    text-transform: capitalize;
    font-weight: 400;
}
.department-content h1 span{
	color:#218838;
}

.fess h1{
	font-family:Oswald-Regular;
    font-size:25px;
    color:#58a424;
    text-transform: capitalize;
    font-weight: 400;
}
.fess-box table,tr,td,th{
	border:1px solid #cab3b3;
	text-align:center;
}
.fess-box th{
	background: #db8f3d;
	color: #fff;
	text-transform:capitalize;
	font-family: 'Righteous', cursive;
	font-size:17px;
	font-weight:normal;
	padding:10px;
}
.fess-box td{
	background:transparent;
	color: #000;
	text-transform: capitalize;
	font-family: 'Righteous', cursive;
	font-size: 16px;
	color: #232323;
	padding: 8px 10px;
	font-weight: normal;
	
}
.fess-box td:hover{
	background:#db8f3d;
	color:#fff;
	cursor:pointer;
}
.admission-title h1{
	text-transform: capitalize;
	font-family: 'Righteous', cursive;
	font-size: 20px;
	color: #a6135f;
}
.admission-title h1 span{
	color:#6a165d;
	padding-left: 10px;
	font-family: 'Righteous', cursive;
}
.admission-title{
	position:relative;
	margin:20px 0px;
}
.admission-title:after{
	content: '';
	position: absolute;
	background: #a83636;
	width: 189px;
	height: 4px;
	border-radius: 5px;
}

.addmisson-document{
	margin:30px 0px;
}
.addmisson-document ul{
	list-style:none;
}
.addmisson-document ul li{
	padding: 5px 0px;
	text-transform: capitalize;
	font-family: Poppins-Regular;
	font-size: 14px;
	color: #1a1616;
}
.addmisson-document ul li span{
	padding-right:10px;
	font-family: 'Righteous', cursive;
	font-size:15px;
}
.addmisson-document h3{
	text-transform: capitalize;
	font-family: 'Righteous', cursive;
	font-size: 17px;
	color: #232323;
}
.applicant-btn .btn-success{
	margin:20px 0px;
	text-transform: capitalize;
	font-family: 'Righteous', cursive;
	font-size:18px;
	color: #fff;
}
.applicant-btn .btn-success i{
	padding-left:10px;
}



.address-left h1{
	text-transform: capitalize;
	font-family: 'Righteous', cursive;
	font-size:25px;
	color: #232323;
}
.form-group .form-control{
	height:52px;
	text-transform: capitalize;
	font-family: 'Righteous', cursive;
	font-size:16px;
	color: #232323;
	font-weight:normal;
}
.form-textarea .form-control{
	text-transform: capitalize;
	font-family: 'Righteous', cursive;
	font-size:16px;
	color: #232323;
	font-weight:normal;
}
.form-submit .form-control{
	text-transform: capitalize;
	font-family: 'Righteous', cursive;
	font-size: 16px;
	color: #f7f2f2;
	font-weight: normal;
	background: #28a745;
	height:52px;
	margin:10px 0px;
}


/*
=================================
Contract Section Start Form Here
=================================
*/
.contract-content{
	padding:0px 0px;
}
.contract-left{
	background:#df8e53;
	padding:35px 50px;
}
.contract-left h1{
	text-transform: capitalize;
	font-family: 'Righteous', cursive;
	font-size:31px;
	color: #fff;
}
.contract-left p{
	font-family:Poppins-Regular;
	font-size:16px;
	color: #fff;
}

.contract-right{
	background:#28a745;
	padding:35px 0px;
	position:relative;
}
.contract-btn{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.contract-btn .btn-success {
	background:none;
	border:1px solid #fff;
	border-radius:50px;
	padding:10px 40px;
	text-transform: capitalize;
	font-family: 'Righteous', cursive;
	font-size:18px;
	color: #fff;
	width:200px;
}
.contract-btn .btn-success i{
	padding-left:5px;
}

	


/*
======================================
 Teachers Section Start Form Here
======================================
 */
.teacher-section{
	background:#fbf6f6;
	padding:100px 0px;
}
.teacher-title h1{
	font-family: 'Righteous', cursive;
	font-size: 31px;
	color: #444;
	text-transform: capitalize;
	font-weight: 400;
}
.teacher-title h1 span{
	color:#42861b;
}
.teacher-title{
	position:relative;
	padding-bottom:100px;
}
.teacher-title:after{
	content:'';
	position:absolute;
	background:red;
	height:5px;
	width:120px;
	left:-10px;
	right:-10px;
	margin:auto;
	border-radius:5px;
}
.teacher-item img{
	max-width:100%;
	display:block;
}
.teacher-item{
	position:relative;
	overflow:hidden;
}
.teacher-item:after{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	background:rgba(0,0,0,.6);
	z-index:1;
	transform:scale(0);
}
.teacher-item{
	position:relative;
	overflow:hidden;
}
.teacher-item:after{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	background:rgba(0,0,0,.6);
	z-index:1;
	transform:scale(0);
}
.teacher-info{
	position:absolute;
	top:-100px;
	left:0px;
	right:0px;
	padding:10px 0px;
	z-index:3;
}
.teacher-social .form-inline{
	list-style:none;
	text-align:center;
	display:flex;
	justify-content:center;
}
	
.teacher-social{
	position:absolute;
	bottom:-100px;
	left:0px;
	right:0px;
	background:#369529;
	padding:10px 0px;
	z-index:3;
	overflow:hidden;
}
.teacher-social .form-inline li a{
	text-align:center;
	display:block;
	padding-right:10px;
	padding-left:10px;
}
.teacher-social .form-inline li a i{
	color:#fff;
	height:30px;
	width:30px;
	border-radius:50%;
	border:1px solid #fff;
	padding: 6px 8px;
	transition:0.5s;
}
.teacher-social .form-inline li a i:hover{
	transform:rotate(360deg);
}
.teacher-info h3{
	font-family: 'Righteous', cursive;
	font-size:20px;
	color: #fff;
	text-transform: capitalize;
	font-weight:normal;
}
.teacher-info p{
	font-size:16px;
	color: #fff;
	text-transform: capitalize;
	font-weight:normal;
}
.teacher-item:hover .teacher-social{
	bottom:0px;
	transition:0.5s;
}
.teacher-item:hover .teacher-info{
	top:100px;
	transition:0.5s;
}
.teacher-item:hover.teacher-item:after{
	transform:scale(1);
}
/*
======================================
 Teachers Active Section
======================================
 */
.teacher-item-active img{
	max-width:100%;
	display:block;
}
.teacher-item-active{
	position:relative;
	overflow:hidden;
}
.teacher-item-active:after{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	background:rgba(0,0,0,.6);
	z-index:1;
}
.teacher-item-active{
	position:relative;
	overflow:hidden;
}
.teacher-info-active{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	padding:10px 0px;
	z-index:3;
}
.teacher-social-active .form-inline{
	list-style:none;
	text-align:center;
	display:flex;
	justify-content:center;
}
	
.teacher-social-active{
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	background:#369529;
	padding:10px 0px;
	z-index:3;
	overflow:hidden;
}
.teacher-social-active .form-inline li a{
	text-align:center;
	display:block;
	padding-right:10px;
	padding-left:10px;
}
.teacher-social-active .form-inline li a i{
	color:#fff;
	height:30px;
	width:30px;
	border-radius:50%;
	border:1px solid #fff;
	padding: 6px 8px;
	transition:0.5s;
}
.teacher-social-active .form-inline li a i:hover{
	transform:rotate(360deg);
}
.teacher-info-active h3{
	font-family: 'Righteous', cursive;
	font-size:20px;
	color: #fff;
	text-transform: capitalize;
	font-weight:normal;
}
.teacher-info-active p{
	font-size:16px;
	color: #fff;
	text-transform: capitalize;
	font-weight:normal;
}

	
/*
==================================
 Gallarey-Section Start Form Here
================================== 
 */

 .gallarey-section{
	padding:10px 0px;
}
.gallarey-content h1{
	font-family: 'Righteous', cursive;
	font-size: 31px;
	color: #444;
	text-transform: capitalize;
	font-weight: 400;
}
.gallarey-content h1 span{
	color:#42861b;
}
.gallarey-content{
	position:relative;
	padding-bottom:50px;
}
.gallarey-content:after{
	content:'';
	position:absolute;
	background:red;
	height:5px;
	width:120px;
	left:-10px;
	right:-10px;
	margin:auto;
	border-radius:5px;
}
.gallarey-menu .form-inline{
	display:flex;
	list-style:none;
	justify-content:center;
}
.gallarey-menu .form-inline li{
	padding:5px 25px;
}
.gallarey-menu .form-inline li.mixitup-control-active{
	background:red;
	border-radius:50px;
	padding:5px 20px;
	color:#fff;
	cursor:pointer;
	font-family:Poppins-Regular;
}
.gallarey-menu .form-inline li{
	color:#232323;
	cursor:pointer;
	font-family:Poppins-Regular;
	text-transform:capitalize;
	font-weight:600;
}

.gallarey-item{
	position:relative;
}
.gallarey-effect{
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	background:rgba(100,0,0,.6);
	transform:scale(0);
	transition:0.5s;
}
.gallarey-effect span{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	color:#fff;
	font-size:80px;
}
.gallarey-item:hover .gallarey-effect{
	transform:scale(1);
}
.gall-item{
	padding:2px;
}
.d-none{
	display:none;
}
.gallarey-slide{
	padding-top:50px;
}

	
/* 
==========================================
Partneer Section Start Form Here
==========================================
 */
.partneer-section{
 padding:50px 0px;
}

/* 
==========================================
Footer Section Start Form Here
==========================================
 */
.footer-section{
	background:#0D1128;
	padding:60px 0px;
}
.fot-logo a{
	text-decoration:none; 
	display:block;
	font-family: 'Righteous', cursive;
	font-size:25px;
	color:#fff;
	text-transform:uppercase;
}
.fot-logo a span{
	color:red;
}
.fot-titile p{
	font-family:Poppins-Regular;
	font-size:13px;
	color:#ccc3c3;
	padding:20px 0px;
}
.fot-social .form-inline{
	list-style:none;
}
.fot-social .form-inline li{
	padding-right:20px;
}
.fot-social .form-inline li i{
	color:#ccc3c3;
	font-size:15px;
	height:30px;
	width:30px;
	border-radius:50%;
	border:1px solid #fff;
	padding:7px 10px;
}
.footer-item{
	padding:20px 0px;
}

.fot-logo{
	padding-top:4px;
}
.fot-menu h1, .footer-item h1{
	font-family:Poppins-Regular;
	font-size:17px;
	color:#fff;
	text-transform:uppercase;
	font-weight:400;
}
.fot-menu ul{
	list-style:none;
}
.fot-menu ul li{
	line-height:30px;
}
.fot-menu ul li a{
	text-decoration:none; 
	display:block;
	font-family: Poppins-Regular;
	font-size: 14px;
	color: #ccc3c3;
	text-transform:capitalize;
}

.fot-address ul{
	list-style:none;
}
.fot-address ul li{
	font-family: Poppins-Regular;
	font-size: 14px;
	color: #ccc3c3;
	text-transform:capitalize;
	line-height:40px;
}
.fot-address ul li i{
	color: #ccc3c3;
	padding-right:8px;
}
	
/* 
==========================================
End Section Start Form Here
==========================================
 */
.end{
	 background:#2E2E43;
	 padding:30px 0px;
}
.end-titile p{
	font-family: Poppins-Regular;
	font-size: 14px;
	color: #ccc3c3;
	text-transform:capitalize;
}
	

	



 

